@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px];
  }
}
@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.mobile-nav-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 50px;
  text-decoration: none;
  color: rgb(245, 164, 37);
  text-align: center;
  background-color: #f7f7f7;
  height: 50px;
  width: 100%;
  display: block;
  cursor: pointer;
  z-index: 9999;
}
