@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px];
  }

  .factClass {
    @apply text-[36px] text-[#f5a425] font-bold my-[5px];
  }

  .NavLinkClasses {
    @apply text-[#ffffff] hover:text-[#f5a425] active:text-[#f5a425] text-sm font-medium py-2 cursor-pointer;
  }
}
.activeListClass {
  @apply bg-[#a12c2f] text-white text-[13px] py-[11px] px-[30px] inline-block rounded-[22px] font-semibold uppercase transition duration-300 cursor-pointer mx-[3px] border-0 outline-none list-none box-border;
}

.listClass {
  @apply text-[13px] text-[#a12c2f] bg-white py-[11px] px-[30px] inline-block rounded-[22px] font-semibold uppercase transition duration-300 cursor-pointer mx-[3px] border-0 outline-none list-none box-border;
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.slick-slide > div {
  margin: 0 10px;
}

.mobile-nav-link {
  height: 50px !important;
  line-height: 50px !important;
  padding: 0px !important;
  border: none !important;
  background: rgb(247, 247, 247) !important;
  color: rgb(25, 26, 32) !important;
  display: block;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s;
  border: transparent;
  letter-spacing: 1px;
  text-decoration: none !important;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
}

.mobile-nav-link:hover {
  color: rgb(245, 164, 37) !important;
  background: rgb(238, 238, 238) !important;
}

.mobile-nav {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .mobile-nav-dropdown {
    width: auto;
    padding: 10px 20px;
    transform-origin: top;
  }

  .mobile-nav-dropdown-link {
    display: flex;
    padding: 12px 15px;
    color: rgb(25, 26, 32);
    font-weight: 500;
    font-size: 14px;
    background: rgb(247, 247, 247);
    text-align: center;
  }

  .mobile-nav-dropdown-link:hover {
    color: rgb(245, 164, 37);
    background: rgb(238, 238, 238);
  }

  /* Center the PAGES link */
  .mobile-nav-link {
    text-align: center;
    width: 100%;
  }
}
.swiper-button-next,
.swiper-button-prev {
  z-index: 10;
}
.swiper-container {
  padding: 0 20px;
}
.swiper-button-next,
.swiper-button-prev {
  display: block !important;
}
